main{
    /* border: 1px solid black; */
    /* position: relative; */
    /* left: 75px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    padding: 0;
    margin: 0;
}

.content_container{
    /* border-bottom: 1px solid gray; */
    width: 30rem;
    /* height: 60rem; */
    /* margin: 20px 0; */
}

.content_container hr{
    margin: 20px 0;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    margin-right: 10px;
}

.profile span{
    font-weight: bold;
}

.pic img{
    width: 30rem;
    height: 35rem;
}

span{
    font-weight: bold;
}

i{
    cursor: pointer;
}

#heart:hover{
    color: red;
}

.comments_container{
    /* border: 1px solid green; */
    margin: 0;
}

.comments_container p{
    color: rgb(77, 77, 77);
    margin: 2px;
}

.comments_container span{
    font-style: italic;
}